.desktop {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.desktop__block__icon {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 125px;
  margin-left: 0px;
}
.desktop__block__icon--selected {
  outline: 1px solid rgb(134, 197, 218);
  background-color: rgba(107, 154, 226, 0.2);
}
.desktop__block__icon__img {
  width: 100%;
  height: 100%;
  margin: -20px;
}
.desktop__block__icon__text {
  font-size: 28px;
  text-align: center;
  color: white;
  margin-top: -1px;
}

.startbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 50px;
  background-color: #c3bec3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.startbar__button {
  height: 50px;
  width: 110px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  background-color: #c3bec3;
  font-family: VT323, monospace;
  font-size: 28px;
  font-weight: 600;
  border: 1px solid #c2bebe;
  box-shadow: inset 1px 1px #dbd1d1, inset -1px -1px #d8c9c9, 2px 1px 3px #969191, -1px -1px #b1a6a6;
  padding: 2px 6px;
  user-select: none;
  cursor: pointer;
}
.startbar__button--dotted {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 1px;
}
.startbar__button__img {
  margin: -10px -10px -10px -15px;
  width: 60px;
  height: 60px;
}
.startbar__button:active {
  border-style: inset; /* Makes the button appear pressed */
  box-shadow: inset -3px -5px 5px 0px rgba(99, 97, 97, 0.6235294118), inset 2px 2px 3px 1px rgba(54, 52, 52, 0.6431372549);
}
.startbar__menu {
  border-radius: 3px;
  display: flex;
  position: fixed;
  bottom: 58px;
  left: 12px;
  width: 400px;
  height: 500px;
  background-color: #c0c0c0;
  border: 3px solid rgba(224, 224, 224, 0.63);
  box-shadow: 2px 2px 2px rgba(107, 103, 103, 0.2);
  z-index: 100;
}
.startbar__menu__title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  background-color: #808082;
  color: white;
  padding: 5px;
  text-align: left;
  padding-top: 20px;
  font-size: 52px;
  font-weight: 400;
}
.startbar__menu__all {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c0c0c0;
}
.startbar__menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  padding: 5px;
  border-bottom: 1px solid rgba(163, 155, 155, 0.4941176471);
  position: relative;
  cursor: pointer;
  flex-grow: 1;
}
.startbar__menu__item:hover .startbar__menu__submenu {
  display: block;
}
.startbar__menu__submenu {
  border-radius: 3px;
  display: none;
  position: absolute;
  left: 100%;
  top: -2px;
  background-color: #c0c0c0;
  border: 3px solid rgba(173, 169, 169, 0.63);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 353px;
  overflow: hidden;
  flex-direction: column;
}
.startbar__menu__submenu__item {
  padding: 5px;
  border-bottom: 1px solid rgba(163, 155, 155, 0.4941176471);
  color: black;
  flex-grow: 1;
}
.startbar__menu__submenu__icon {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  vertical-align: middle;
}
.startbar__menu__icon {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  vertical-align: middle;
}

.taskbar {
  margin-right: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #c9c6c9;
  font-size: 28px;
  font-weight: 400;
  color: black;
  padding: 5px 10px;
  border: 2px solid #b6b1b1;
  box-shadow: inset -2px -1px 0px 2px rgba(100, 92, 92, 0.0549019608), inset 1px 2px 7px 0px rgba(44, 44, 44, 0.5607843137);
}
.taskbar__img {
  width: 40px;
  height: 40px;
  margin-left: -10px;
}
.taskbar__clock {
  margin-left: 10px;
}

.window {
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #c9c6c9;
  border: 2px solid black;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-height: 270px; /* Minimum height */
  overflow: hidden;
}
.window__content {
  height: calc(100% - 113px);
  padding: 10px;
  border-left: solid 10px #c3bec3;
  border-right: solid 10px #c3bec3;
  box-shadow: inset -2px -2px 3px 0px rgba(105, 100, 100, 0.368627451), inset 3px 3px 2px 0px rgba(77, 75, 75, 0.7725490196);
  overflow: hidden;
}
.window__header {
  height: 25px;
  background-color: #000080;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.window__header__block {
  display: flex;
  align-items: center;
}
.window__header__block__icon {
  height: 40px;
  width: 40px;
}
.window__header__block--closebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(179, 14, 14, 0.9607843137);
  color: white;
  border: none;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.window__toolbar {
  display: flex;
  background-color: #c3bec3;
  padding: 2px;
  justify-content: start;
  padding-left: 10px;
}
.window__toolbar__dropdown {
  position: relative;
  padding: 2px 6px;
  margin-right: 2px;
  cursor: default;
  user-select: none;
}
.window__toolbar__dropdown__content {
  display: none;
  border: 1px solid rgba(173, 169, 169, 0.63);
  border-radius: 2px;
  color: #000;
  position: absolute;
  background-color: #c3bec3;
  top: 26px;
  left: -1px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.window__toolbar__dropdown__content__item {
  padding: 12px 16px;
  text-align: left;
  background-color: #c3bec3;
  border-bottom: 1px solid rgba(163, 155, 155, 0.4941176471);
}
.window__footer {
  display: flex;
  align-items: center;
  background-color: #c3bec3;
  height: 30px;
}
.window__footer__details, .window__footer__blank {
  margin: 5px 0 5px 0;
  border-radius: 2px;
  flex-grow: 1;
  background-color: rgba(231, 231, 231, 0.337254902);
  position: relative;
  /* To create the 3D effect */
  border-top: 1px solid #7e7a7a; /* Top highlight */
  border-left: 1px solid #7e7a7a; /* Left highlight */
  box-shadow: inset -1px -1px 1px 0px rgba(105, 100, 100, 0.3294117647), inset 1px 1px 3px 1px rgba(77, 75, 75, 0.8352941176);
  padding: 2px;
}
.window__footer__details {
  padding-left: 10px;
  flex-grow: 2;
  margin-left: 10px;
  margin-right: 4px;
}
.window__footer__blank {
  padding: 12px;
  margin-right: 10px;
}

.resizer.bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  z-index: 1000;
}

.myComputer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.myComputer__drive {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.myComputer__drive img {
  width: 120px;
  height: 120px;
}
.myComputer__drive p {
  font-size: 26px;
  margin-top: -5px;
  text-align: center;
}
.myComputer__drive--selected {
  outline: 1px solid rgb(134, 197, 218);
  background-color: rgba(107, 154, 226, 0.2);
}

.calculator__app {
  background-color: rgba(107, 107, 156, 0.3137254902);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  width: 300px;
  box-shadow: 0px 1px 5px 0px #1d1c1c;
}
.calculator__app__display {
  box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.836);
  width: 92%;
  height: 10%;
  background-color: #f2f2f2;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 40px;
}
.calculator__app__keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.calculator__app__btn {
  box-shadow: 2px 2px 4px rgba(41, 41, 41, 0.822);
  font-family: VT323, monospace;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #e6e6e6;
}
.calculator__app__btn__clear, .calculator__app__btn__equals {
  grid-column: span 3;
}
.calculator__app__btn__equals {
  background-color: #4caf50;
  color: white;
}
.calculator__app__btn__add, .calculator__app__btn__subtract, .calculator__app__btn__multiply, .calculator__app__btn__divide {
  background-color: #f0ad4e;
  color: white;
}

.minesweeper__app {
  display: grid;
  gap: 2px;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  grid-template-columns: repeat(8, 1fr);
}
.minesweeper__app__cell {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.minesweeper__app__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.minesweeper__app__overlay__dialog {
  background-color: #fff;
  border: 2px solid black;
  font-size: 22px;
  padding: 20px;
}
.minesweeper__app__overlay__dialog #minesweeper__buttons {
  display: flex;
  justify-content: center;
}
.minesweeper__app__overlay__dialog #minesweeper__buttons #play-again,
.minesweeper__app__overlay__dialog #minesweeper__buttons #close-dialog {
  padding: 6px;
  margin-right: 10px;
  width: 70px;
  font-family: VT323, monospace;
  font-size: 18px;
}

.paint__app {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  padding: 10px;
  flex: 1;
}
.paint__app__colorpicker {
  box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.575);
  border-radius: 5px;
  margin: 5px;
  width: 90%;
  border: 1px solid rgba(80, 77, 80, 0.6509803922);
}
.paint__app__clearbtn {
  box-shadow: 2px 2px 1px rgba(121, 115, 115, 0.932);
  width: 100px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgba(80, 77, 80, 0.6509803922);
  margin-top: 10px;
  font-family: VT323, monospace;
  font-size: 24px;
}
.paint__app__canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}

body {
  background: #008080;
  margin: 0;
  font-family: VT323, monospace;
  font-size: 20px;
  min-height: 100vh;
  max-height: 100vh;
}

.startup__button {
  font-family: VT323, monospace;
  font-size: 80px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../assets/Win95Setup.webp) center center no-repeat;
  color: white;
  z-index: 1000;
}

.loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 500;
}
.loading__video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.myComputer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.myComputer__drive {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.myComputer__drive img {
  width: 120px;
  height: 120px;
}
.myComputer__drive p {
  font-size: 26px;
  margin-top: -5px;
  text-align: center;
}
.myComputer__drive--selected {
  outline: 1px solid rgb(134, 197, 218);
  background-color: rgba(107, 154, 226, 0.2);
}

.calculator__app {
  background-color: rgba(107, 107, 156, 0.3137254902);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  width: 300px;
  box-shadow: 0px 1px 5px 0px #1d1c1c;
}
.calculator__app__display {
  box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.836);
  width: 92%;
  height: 10%;
  background-color: #f2f2f2;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 40px;
}
.calculator__app__keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.calculator__app__btn {
  box-shadow: 2px 2px 4px rgba(41, 41, 41, 0.822);
  font-family: VT323, monospace;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #e6e6e6;
}
.calculator__app__btn__clear, .calculator__app__btn__equals {
  grid-column: span 3;
}
.calculator__app__btn__equals {
  background-color: #4caf50;
  color: white;
}
.calculator__app__btn__add, .calculator__app__btn__subtract, .calculator__app__btn__multiply, .calculator__app__btn__divide {
  background-color: #f0ad4e;
  color: white;
}

.minesweeper__app {
  display: grid;
  gap: 2px;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  grid-template-columns: repeat(8, 1fr);
}
.minesweeper__app__cell {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.minesweeper__app__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.minesweeper__app__overlay__dialog {
  background-color: #fff;
  border: 2px solid black;
  font-size: 22px;
  padding: 20px;
}
.minesweeper__app__overlay__dialog #minesweeper__buttons {
  display: flex;
  justify-content: center;
}
.minesweeper__app__overlay__dialog #minesweeper__buttons #play-again,
.minesweeper__app__overlay__dialog #minesweeper__buttons #close-dialog {
  padding: 6px;
  margin-right: 10px;
  width: 70px;
  font-family: VT323, monospace;
  font-size: 18px;
}

.paint__app {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  padding: 10px;
  flex: 1;
}
.paint__app__colorpicker {
  box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.575);
  border-radius: 5px;
  margin: 5px;
  width: 90%;
  border: 1px solid rgba(80, 77, 80, 0.6509803922);
}
.paint__app__clearbtn {
  box-shadow: 2px 2px 1px rgba(121, 115, 115, 0.932);
  width: 100px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgba(80, 77, 80, 0.6509803922);
  margin-top: 10px;
  font-family: VT323, monospace;
  font-size: 24px;
}
.paint__app__canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}

.resizer.bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  z-index: 1000;
}

/*# sourceMappingURL=style.css.map */
